<p class=notified>
  <label><%= l(:notified_users) %></label>
  <%= link_to_function l(:x_users_will_be_notified, :count => @issue.notified_users.count),
                       'Element.hide(this); Element.show("notified_users"); Element.show("notified_users_notice");' %>
  <span class=notified_users id=notified_users style="display:none">
    <% @issue.notified_users.sort.each do |user| %>
      <span class=person>
        <%= link_to image_tag('email.png', :plugin => 'redmine_notified', :size => '16x16'), "mailto:#{user.mail}" %>
        <%= link_to_user user %>
      </span>
    <% end %>
  </span>
  <em id=notified_users_notice class=info style="display:none;"><%= l(:notified_users_notice) %></em>
</p>
