<% if User.current.allowed_to?(:view_notified_users, @project) &&
  Setting.plugin_redmine_notified['display_notified_users_in_forms'].to_i != 0 %>
  <p class=notified>
    <label><%= l(:notified_users) %></label>
    <%= link_to_function l(:x_users_will_be_notified, :count => @issue.notified_users.count),
                         '$("#notified_users, #notified_users_notice").toggle()' %>
    <span class=notified_users id=notified_users style="display:none">
    <% @issue.notified_users.sort.each do |user| %>
      <span class=person>
        <%= link_to image_tag('email.png', :plugin => 'redmine_notified', :size => '16x16'), "mailto:#{user.mail}" %>
        <%= link_to_user user %>
      </span>
    <% end %>
  </span>
    <em id=notified_users_notice class=info style="display:none;"><%= l(:notified_users_notice) %></em>
  </p>
<% end %>
