<% if @issue.blank? %>
  <%= l(:label_no_data) %>
<% else %>
  <h3 class=title><%= l(:label_issue) %> #<%= @issue.id %> / <%= l(:notified_users) %></h3>

  <p>
  <select id="notification-switcher">
    <option value="notification-issue"><%= l(:label_issue) %> #<%= @issue.id %></h3>
  <% @journal_notifications.each do |notification| %>
    <option value="notification-journal-<%= notification.id %>">&nbsp; <%= l(:label_note) %> #<%= @journal_ids.index(notification.notificable_id) + 1 %></div>
  <% end %>
  </select>
  </p>

  <div id="notification-issue" class="notification">
    <%= render :partial => 'notification_recipients', :locals => { :notification => @issue_notification } %>
  </div>

  <% @journal_notifications.each do |notification| %>
    <div id="notification-journal-<%= notification.id %>" class="notification" style="display:none">
      <%= render :partial => 'notification_recipients', :locals => { :notification => notification } %>
    </div>
  <% end %>

  <script>
    $(function() {
      $("#notification-switcher").change(function() {
        $(".modal .notification").hide()
        $(".modal #"+$(this).val()).show()
      })
    })
  </script>
<% end %>

